<p style="font-size:9pt;">Website authorization by the New York State Department of Financial Services is pending. Until this website is authorized, no mortgage loan applications for properties located in New York will be accepted through this site.</p>
<p style="font-size:9pt;">Lender is not a New York licensed mortgage lender.  No mortgage loan applications for properties located in New York will be accepted through this site.</p><br>
<span style="border-right:1px solid black;margin-right:0px;padding-right:5px;"><a href="http://pacificunionfinancial.com/privacy" target="_blank" style="color:blue;text-decoration:underline;">Privacy Policy</a></span><span style="margin-left:5px;"><a href="http://pacificunionfinancial.com/licensing" target="_blank" style="color:blue;text-decoration:underline;">Licensing</a></span>
<br>
NMLS Consumer Access site <a href="http://www.nmlsconsumeraccess.org/" target="_blank" style="color:blue;text-decoration:underline;">http://www.nmlsconsumeraccess.org</a></p>
<a href="http://www.hud.gov/fairhousing" target="_blank"><img src="files/2014/04/eho-logo.png"></a>





<!DOCTYPE html>
<html lang="en-US">
<head>

<style>
/* CUSTOM FONTS - BY GOOGLE OPEN SOURCE */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Gudea:400,700,400italic|Oswald:300,400,700|Roboto+Condensed:400italic,400,700|Archivo+Narrow:400,400italic|Pontano+Sans|Asap:400,700|Fira+Sans:400,500,700|Open+Sans+Condensed:300,700|Cabin+Condensed:400,500|Lato:400,700|Raleway:400,600|Nobile:400,700|Droid+Sans+Mono:400|Droid+Sans:400);

/* To render the proper font styling, apply any of these font-family names to the appropriate tag */
/* font-family: 'Source Sans Pro', sans-serif; */
/* font-family: 'Gudea', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Archivo Narrow', sans-serif; */
/* font-family: 'Pontano Sans', sans-serif; */

/* END CUSTOM FONTS */

/* BEGIN CONTROLS THE SIZE OF THE LOGO IN THE MASTHEAD */

.span12 .logo_type_banner img {
width:70%;
padding: 0 15%;
}
.span12 .logo_type_banner {
margin-bottom:25px;
}
/* END LOGO SIZING 
/* SUPPRESSES NMLS CONTENT BLOCK ON MOBILE */
#company_info_mobile {
display:none !important;
}
/* END MOBILE CONTENT BLOCK EDIT */

/* BASIC TYPOGRAPHY */

/* body {font-family: 'Source Sans Pro',sans-serif;} */

/* END BASIC TYPOGRAPHY */
/* FOOTER - BRANCH LOCATIONS */
#footer li {
	font-size:9pt !important;
}
/* END FOOTER - BRANCH LOCATIONS */

/*BEGIN HOME PAGE EDITS */

#slideshow_wrapper .container {
margin-top:10px;
margin-bottom:10px;
}

#myCarousel:before {
content:"";
position:absolute;
z-index: -1;
width:96%;
top: 0;
height: 10px;
left: 2%;
border-radius: 100px / 5px;
-moz-border-radius: 100px / 5px;
-webkit-border-radius: 100px / 5px;
box-shadow: 0 5px 14px rgba(0,0,0,0.3);
-moz-box-shadow: 0 5px 14px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 5px 14px rgba(0,0,0,0.3);
}
#myCarousel:after {
content:"";
position:absolute;
z-index: -1;
width:95%;
bottom: 0;
height: 10px;
left: 2%;
border-radius: 100px / 5px;
-moz-border-radius: 100px / 5px;
-webkit-border-radius: 100px / 5px;
box-shadow: 5px 0 14px rgba(0,0,0,0.3);
-moz-box-shadow: 5px 0 14px rgba(0,0,0,0.3);
-webkit-box-shadow: 5px 0 14px rgba(0,0,0,0.3);
}
#myCarousel .carousel-inner .item img {
display:none;
}
#myCarousel .carousel-inner .item {
background-image: url('http://pacificuf.lenderama.com/files/2014/06/welcome-pacific-union-financial-mortgage-loans-2.jpg');
background-repeat:no-repeat;
height:293px;
}

.homepage_post .excerpt a {
display:none;
}

.homepage_post h3 a {
pointer-events:none;
cursor:default;
}

/*END HOME PAGE EDITS */

#primary p.small {
font-size:1em;
}
#primary li, #primary p {
}

#button_with_people {
}

#button_with_people #apply_now_button {
	visibility:hidden;
}

.carousel-caption {
	display: none;
}

.row-fluid .page_summary {
	display: none;
}

.main-navigation ul {
	margin-left: 160px;
}

.main-navigation ul ul {
	margin-left: 0px;
}
#slideshow_wrapper {background-color:#ffffff;}
#news .span12 h1 {
	margin: 0 0 30px 0;
	padding-top: 0px;
	background-color:#FFFFFF;
	text-decoration: underline;
	font-size: 1.3em;
	letter-spacing: 2px;
	text-transform:uppercase;
	text-shadow:1px 0px gray;
	display:none;
}

.standard_wrapper .container h1,
.standard_wrapper .container h2,
.standard_wrapper .container h3,
.standard_wrapper .container h4,
.standard_wrapper .container h5,
.standard_wrapper .container h6,
.standard_wrapper .container .title,
.standard_wrapper .container h1 a,
.standard_wrapper .container h1 a:visited, .standard_wrapper .container h2 a,
.standard_wrapper .container h2 a:visited, .standard_wrapper .container h3 a,
.standard_wrapper .container h3 a:visited, .standard_wrapper .container h4 a,
.standard_wrapper .container h4 a:visited, .standard_wrapper .container h5 a,
.standard_wrapper .container h5 a:visited, .standard_wrapper .container h6 a,
.standard_wrapper .container h6 a:visited {
	font-family: Arial, sans-serif;
	color: #535353;
}

.branch-table {
	border-collapse: collapse;
	width: 50%;
	font-size: 10pt;
}

.branch-table ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	line-height: 1.6;
	font-size: 10pt;
}

.branch-table th {
	background-color:#f5f5f5;
	border:1px solid #eee;
	padding:3px;
	vertical-align:top;
	text-align:left;
}

.branch-table td {
	border:1px solid #eee;
	padding:5px;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
}

#news {
	margin-top: 0px;
	padding-top: 0px;
	border:none;
}

#myCarousel .slider_img {width: 1173px;}

/*Branch Locations page styling*/

#branches-state {
    margin-top:35px;
}

.locations .right-col-inner {
    min-height: 700px;
}
.locations .find-branch-ctnr {
    width: 270px;
    margin-top: 85px;
}
.locations .find-branch-ctnr .select-title {
    font-family: Arial,Sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    margin-right: 0px;
    float: right;
    margin-top: -25px;
    position: relative;
    left: -7px;
}
.locations .find-branch-ctnr .select-menu {
    margin: 10px 0 5px 9px;
}
.locations .find-branch-ctnr .title {
    letter-spacing: 0.03em;
}
.locations .body-copy input {
    height: 14px;
    font-size: 12px;
    line-height: 1.4;
    border: 1px #2a2929 solid;
    width: 137px;
    border-radius: 0;
}
.locations .body-copy input:focus {
    color: #1564a4;
}
.locations .body-copy .go-btn {
    position: relative;
    top: -5px;
    left: 5px;
}
.locations .select-state-body {
    height: 25px;
    margin-left: -15px;
    position: relative;
    top: 50px;
    width: 270px;
}
.locations .select-state-body .btn {
    margin-top: 7px;
}
.locations .locations .state {
    margin-top: 35px;
}
.locations .locations .state .state-title  {
    text-transform: uppercase;
    font-family: Garamond,Serif;
    font-size: 24px;
    border-bottom: 2px #c3c3c3 solid;
}
.locations .locations .state .state-title .near-zip {
    font-family: Arial;
    font-weight: Bold;
    color: #1564a4;
    font-size: 12px;
}
.locations .locations .center-title {
    margin-top: 2px;
}
.locations .branch-info {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 14px;
    width: 46%;
    min-height: 60px;
    font-size: 10pt;
    line-height: 1.3;
}
@media(max-width:425px){
    .locations .branch-info{
        width: 100%;
    }
}

.locations .branch-info.last {
    margin-right: 0px;
}
.locations .branch-info .branch-info:nth-child(4n-1) {
    margin-right: 0px;
}
.locations .branch-info a, .locations .branch-info a:link {
color: #1564a4;
font-family: 'Oswald',sans-serif;
text-decoration:none;
}
.locations .branch-info p a:link {
    font-size: 11pt;  
    color: #414042;  
}
.locations .branch-info a:visited {
color: #1564a4;
font-family: 'Oswald',sans-serif;
text-decoration:none;
}
.locations .branch-info a:hover {
color: #535353;
font-family:'Oswald',sans-serif;
text-decoration:underline;
}

.locations .branch-info p {
    margin-top: 8px;
    line-height: 1.3;
}
.locations .branch-info h2 {
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    letter-spacing: 0.06em;
    line-height: 1.5;
    color: #1564a4;
    font-size: 16pt;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 8px;
}
.locations .branch-info ul,
.locations .branch-info li {
    list-style-type: none;
    color: #2c2c2c;
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
}
.locations .branch-info ul a,
.locations .branch-info li a {
    text-decoration: underline;
  /
}
.locations input[type=submit],
.locations input.btn {
    color: #ffffff;
    height: 24px;
    width: 36px;
}


/*End Branch Locations page styling*/

/*Begin Branch Details page styling*/

.branch .right-col-inner {
    min-height: 700px;
}
.branch .find-branch-ctnr {
    width: 270px;
    margin-top: 85px;
}
.branch .find-branch-ctnr .select-title {
    font-family: Arial,Sans-serif;
    font-size: 22px;
    letter-spacing: 0.03em;
    margin-right: 0px;
    float: right;
    margin-top: -25px;
    position: relative;
    left: -7px;
}
.branch .find-branch-ctnr .select-menu {
    margin: 10px 0 5px 9px;
}
.branch .find-branch-ctnr .title {
    letter-spacing: 0.03em;
}
.branch .body-copy input {
    height: 14px;
    font-size: 12px;
    line-height: 1.4;
    border: 1px #2a2929 solid;
    width: 137px;
    border-radius: 0;
}
.branch .body-copy input:focus {
    color: #1564a4;
}
.branch .body-copy .go-btn {
    position: relative;
    top: -5px;
    left: 5px;
}
.branch .select-state-body {
    height: 25px;
    margin-left: -15px;
    position: relative;
    top: 50px;
    width: 270px;
}
.branch .select-state-body .btn {
    margin-top: 7px;
}
.branch .branch .branch {
    margin-top: 35px;
}
.branch .branch .branch .branch-title  {
    /*text-transform: uppercase;*/
    /*font-family: Garamond,Serif;*/
    /*font-size: 18px;*/
    border-bottom: 2px #2c2c2c solid;
}
.branch .branch .branch .branch-title .near-zip {
    font-family: Arial,sans-serif;
    font-weight: Bold;
    color: #1564a4;
    font-size: 12px;
}
.branch .branch .center-title {
    margin-top: 2px;
}
.branch .lo-info {
	float:left;
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
    margin-right: 14px;
    width: 31%;
    min-height: 60px;
    font-size: 10pt;
    line-height: 1.4;
}
.branch .lo-info.last {
    margin-right: 0px;
}
.branch .lo-info .lo-info:nth-child(4n-1) {
    margin-right: 0px;
}
.branch .lo-info a:link {
    color: inherit;
    text-decoration: inherit;
}
.branch .lo-info a {
    color: inherit;
    font-family:inherit;
}
.branch .lo-info a:visited {
    color: inherit;
}
.branch .lo-info p {
    margin-top: 8px;
    line-height: 1.4;
}
.branch .lo-info h2, .branch .lo-info h2 a, .branch .lo-info h2 a:visited, .branch .lo-info h2 a:link {
    text-transform: uppercase;
    font-family: 'Oswald',sans-serif;
    letter-spacing: 0.06em;
    line-height: 1.3;
    color: #1564a4;
    font-size: 16pt;
    font-weight: 400;
    margin-top: 0px;
	clear: none;
}
.lo-info #nmls {
	line-height:30px;
}

.branch .nmls {
	font-family:'Droid Sans';
	font-size:10pt;
}

.branch .lo-info ul,
.branch .lo-info li {
    list-style-type: none;
    color: #2c2c2c;
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
}
.branch .lo-info ul a,
.branch .lo-info li a {
    text-decoration: inherit;
    color: #1564a4;
}
.branch input[type=submit],
.branch input.btn {
    color: #ffffff;
    height: 24px;
    width: 36px;
}
.branch .lo-info img {
	height:120px;
	margin: 0 0 0 0px;
}

/*End Branch Details page styling*/

/*Loan Officer information page*/

.loan-officers {
	max-width:1170px;
	display:block;
}

#lo-name .center-title {
	margin-bottom: 15px;
	padding:7px 10px 0;
	font-family:'Gill Sans Light','Gill Sans','Gill Sans MT','Calibri',sans-serif;
	letter-spacing:0.005em;
text-transform:capitalize;
font-size:14pt;
text-shadow: 2px 2px #eee;
}

#name {
	width:auto;
	/*text-transform:uppercase;*/
	font-family:'Oswald',Arial,sans-serif;
	font-size:22pt;
	font-weight:700;
	letter-spacing:.05em;
	margin-right:20px;
    /*color: #414042;*/
    color: #686868; 
}

@media(max-width: 768px){
    #name {
        font-size: 20pt;
    }
    
}

@media(max-width: 425px){
    #name {
        font-size: 15pt;
    }
    .locations .branch-info a{
        font-size: 19px;
       
        color: #1564a4;
    }
}

#name span {
border-bottom:1px solid #2c2c2c;
}
.branch-info h2 a:link, .branch-info h2 a:hover, .branch-info h2 a:visited {
color:#1564a4;
text-decoration:underline;
}

#nmls {
	width:auto;
	font-size:11pt;
	font-family:'Gill Sans Light','Gill Sans','Gill Sans MT',sans-serif;
	font-weight: normal;
	letter-spacing: .005em;
}

.strong {
	font-size:16pt;
	font-weight:bold;
	font-family:'Trebuchet MS',Serif;
}

.testimonials {
	float:left;
	position:relative;
	width:500px;
	margin-top:35px;
	font-size:11pt;
}

.product-list {
	float:left;
	position:relative;
	width:500px;
	font-size:11pt;
}

.loan-officers .lo-info {
	position: relative;
	display: block;
    margin-bottom: 20px;
    margin-right: 14px;
    width: 436px;
    min-height: 60px;
    font-size: 11px;
    line-height: 1.4;
}
.loan-officers .contact-info {
	position: relative;

}

.contact-box #lo-branch {

}

.loan-officers .lo-info img {
	float: left;
}

.lo-content .contact-box {
	float: left;
	width: 60%;
	margin: 0 0 20px;
}

.loan-officers .contact-box p {
	font-size:1em;
}

.lo-content  .img-container {
	width: 169px;
	float: left;
	display: block;
	height: inherit;
}

#content .img-container img {
	max-width: 95%;
}

.lo-content {
	float:left;
	width:520px;
	height:auto;
	font-family:Arial,sans-serif;
	font-size:10pt;
	margin-bottom:90px;
}

.loan-officers .lo-info .lo-info:nth-child(4n-1) {
    margin-right: 0px;
}
.loan-officers .lo-info a:link {
    color: #2c2c2c;
    text-decoration: underline;
}
.loan-officers .lo-info a {
    color: #2c2c2c;
}
.loan-officers .lo-info a:visited {
    color: #2c2c2c;
}
.loan-officers .lo-info p {
    margin-top: 0px;
    line-height: 1.3;
}
.loan-officers .lo-info h2 {
    text-transform: uppercase;
    font-family: Arial,Sans-serif;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #1564a4;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}
.loan-officers .lo-info ul,
.loan-officers .lo-info li {
    list-style-type: none;
    color: #2c2c2c;
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
}
.loan-officers .lo-info ul a,
.loan-officers .lo-info li a {
    text-decoration: underline;
    color: #1564a4;
}
#apply.span-lo {
	width: 60%;
}
.lo-products {
	float:left;
}
.lo-products p {
	font-size:80% !important;
}
.lo-products #box {
	background-color:#FFFFFF;
	margin-bottom: 15px;
	padding:10px 10px 0;
	box-shadow:5px 5px 2px #888888;
	border:1px solid #ccc;
	border-radius:22px;
}

.lo-products ul {
	/*columns: auto 2;*/
	/*-webkit-columns: auto 2;*/
	/*-moz-columns: auto 2;*/
	margin:0 0 0 0px;
}

.lo-products li {
	line-height: 1.5;
	font-size:80% !important;
	letter-spacing:.02em;
	list-style-type:square;
	list-style-position:inside;
	/*text-align:center;*/
}

.lo-products span {
	/* text-align:center; */
	display:block;
	margin-bottom:8px;
	font-size:80% !important;
	/* text-transform:uppercase; */
	padding: 0 15px 0;
}

.loan-officers h2 {
	font-style:italic;
	font-family:Georgia,sans-serif;
}
.loan-officer-name {
line-height:1.3;
}

/*End Loan Officer information page*/
@media(max-width:600px){
    #site-navigation {
        padding: 10px 15%;
    }
}
</style>
</head>

